button{
                    
    outline: none;
    cursor: pointer;
    border: none;

    min-width: 152px;
    min-height: 48px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 0.85rem;
    text-transform: uppercase;

    border-radius: 25px;
    margin: 24px 0;

    color: appColor(white-primary);
    background-color: appColor(black-primary);


    @include media(">=tablet") {
        min-width: 156px;
        min-height: 52px;
    }

    @include media(">=desktop") {
        min-width: 172px;
        min-height: 54px;
        font-size: 0.75rem;
    }

}