#home-section {
    padding: 1.0rem;

    .container {
        min-height: 608px;
        position: relative;

        .line{
            position: absolute;
            height: 1.5rem;
            width: 1px;
            left: 50%;
            transform: translate(-50%, 0);

            background-color: appColor(primary);

        }
        .content {

  
            height: 100%;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(6, 1fr);

            @include media(">=tablet") {
                order: 0;
                justify-content: center;




            }

            #logo-block {
                grid-row: 3/5;

                @include media(">=tablet") {
                    grid-row: 3/4;
                }


                align-self: center;
                justify-self: center;

                img {
                    width: 12rem;
                }

            }

            #naming-block {
                grid-row: 2/2;
                text-align: center;

                @include media(">=tablet") {
                    grid-row: 4/5;
                }

                order: -1;

                .naming {
                    font-size: 1.5rem;

                    text-transform: uppercase;
                    margin-bottom: 8px;
                    letter-spacing: 0.1rem;
                }

                .roles {
                    font-size: 1.0rem;

                    text-transform: uppercase;
                    letter-spacing: 0.1rem;
                    line-height: 1.5rem;

                    opacity: 0.75;
                }

                @include media(">=tablet") {
                    margin-bottom: 2rem;
                    order: 0;
                    .roles {
                        letter-spacing: 0.15rem;
                    }
                }


            }

            #action-block {
                grid-row-start: 5;
                grid-row-end: 7;

                align-self: center;
                justify-self: center;

      

                .button {
                    margin: 1rem auto;
            

                    min-width: 128px;
                    min-height: 42px;

                    filter: drop-shadow(0px 6px 12px rgb(0, 0, 0));

                    background-color: appColor(secondary);

                    

                    .text {
                        margin: 0 12px;
                    }

                    .line-blue {
                        height: 1px;
                        width: 16px;
                        background-color: appColor(white-primary);
                    }

                    .line-orange {
                        height: 1px;
                        width: 16px;
                        background-color: appColor(white-primary);
                    }

                    @include media(">=tablet") {
                        min-width: 132px;
                        min-height: 44px;
                    }

                    @include media(">=desktop") {
                        min-width: 156px;
                        min-height: 48px;
                        font-size: 0.75rem;
                    }
                }

                .quotes {
                    opacity: 0.65;
                    width: 256px;
                    text-align: center;


                    @include media(">=desktop") {
                        width: 396px;

                        small {}
                    }
                }

            }


        }
    }




}